<%= simple_form_for @question, :html => { :class => 'form-horizontal' } do |f| %>
  <%#= f.label :question %>
  <%#= f.text_area :question ,:cols => 80, :rows => 5 %>
  <%#= f.text_area :question ,:cols => 80, :rows => 5 %>
  <%#= f.label :answer %>
  <%#= f.text_area :answer,:cols => 80, :rows => 5 %>
  <%#= f.label :viewcount %>
  <%#= f.text_field :viewcount %>
  <%#= f.label :category_id %>
  <%#= f.label :isanswerd %>
  <%#= f.text_field :isanswerd %>
  <%= f.input :question ,as: :text %>
  <%= f.input :answer,as: :text%>
  <%#= f.input :viewcount ,as: :integer%>
  <%#= f.input :isanswerd ,as: :integer%>
  <%= f.association :category,as: :radio_buttons %>
  <%#= f.input :category_id , :collection => Category.all.collect {|p| [ p.name, p.id ] }, :include_blank => true %>  
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <% if @question.category  %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
          category_path(@question.category), :class => 'btn' %>
    <% else %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
          root_path, :class => 'btn' %>
    <% end %>
  </div>
<% end %>
