<%= bootstrap_flash %>
<%- model_class = Question -%>
<% @questions.each do |question| %>
  <table class="table table-bordered">
    <tr>
      <td colspan="3">
        <h2>
          <%= "★" if question.viewcount >= @top20 %>
          <%= link_to question.question , question_path(question) %>
        </h2>
      </td>  
    </tr>
    <tr>
      <td colspan="3"><p><%= link_to question.answer  , question_path(question) %></p></td>
    </tr>
    <tr>
      <td>
        <%= question.category.name %>
      </td>
      <td>
        <%= question.viewcount %>
      </td>
      <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_question_path(question), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              question_path(question),
              :method => :delete,
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-mini btn-danger' %>
      </td>
    </tr>
  </table>
<% end %>
<%= will_paginate @questions %>
<%=
 link_to t('.new', :default => t("helpers.links.new")), { :controller => :questions, :action => :new, :category_id => @category.id },:class => 'btn btn-primary'
   %>

